* { margin:0; padding:0; box-sizing:border-box; }
body {

	color: #222;
	font-family:helvetica, arial, sans-serif;
	font-size:16px;

}

#title {

	text-align: center;
	position: relative;
	top: 6em;
	left: 3.5em;

}

#slogan {

	text-align: center;
	position: relative;
	top: 9em;
	left: 5em;
}
#banner {
	background:url(../images/starfish.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: static;
	padding: 5%;
	height:50vh;
	

	
}

#titlepic {

position: relative;
left: 10em;


}